@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 45px;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 210px;
    border: none;
    background: #806CF5;
    border-radius: 5px;
    cursor: pointer;
}

.header__trade{
    color: #FFF;    
    font-family: 'Dhurjati', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

.header__lable {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.header__button:hover {
    background: #9F8FFF;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 35px;
}